<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>오픈게시판</title>
</head>
<body>
    <a href="http://localhost:8080/new">Write To Board</a>
    <a href="http://localhost:8080/Search">Read To Board</a>
</body>
</html>