<html lang="en">
<style>
    body {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    footer {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    header {
        background-color: black;
        width: auto;
        height: auto;
        color: greenyellow;
    }
    a {
        color: greenyellow
    }
</style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>다동게시판</title>
</head>
<form method="post" action="/RoomCommunity">
    <input type="hidden" name="roomId" value="${Id}">  <!-- 이게 핵심 -->
    <input type="text" name="title">
    <input type="text" name="news">
    <button type="submit">작성</button>
</form>
<footer>
    <a href="http://localhost:8080/Search?RoomId={{Id}}">검색하기 </a><br>
    <a href="http://localhost:8080/In">다른방으로 가기</a><br>
</footer>
</html>